.headerContainer {
    background-color: white;
    height: 150px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.item {
    padding: 10px;
    text-decoration: none;
}

.logo {
    width: 60px;
    float: right;
    padding: 0px;
    margin-right: 0px;
}


.imgLogo {
    width: 7%;
    height: 100px;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightskyblue;
}

